*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #f8c891;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  color: #52320b;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.container-wide {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.container-smaller {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.container-small {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.button {
  border: 1px solid #5f491b;
  background: #ffe1a1;
  color: #1f1609;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.header {
  padding: 20px 0;
  background: #886f53;
}

.header__logo {
  width: 100px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.header-nav__links {
  margin-right: 50px;
  font-size: 24px;
  color: #ffddb3;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-nav__links:last-of-type {
  margin-right: 0px;
}

.header-nav__links:hover {
  color: #c98839;
}

.hero-bag {
  padding: 125px 0;
  background: url("../img/promotion2.jpg") no-repeat center/cover;
}

.hero__title {
  margin-bottom: 20px;
  color: #f19e32;
  font-size: 46px;
  text-align: center;
}

.hero-content {
  padding: 40px;
  border-radius: 25px;
  font-size: 24px;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.hero__about {
  margin-bottom: 30px;
}

.hero__motto {
  font-style: italic;
}

.hero .feedback {
  padding: 50px 0;
  padding-top: 25px;
}

.hero .feedback__title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.hero .feedback-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: inherit;
      align-content: inherit;
}

.hero .feedback-item {
  padding: 25px 20px;
  background: url("../img/header-bg.jpg") no-repeat center/cover;
  max-width: 470px;
  border-radius: 25px;
  position: relative;
}

.hero .feedback-item::before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  z-index: 0;
}

.hero .feedback-item__name {
  position: relative;
  color: #f19e32;
  margin-bottom: 20px;
  z-index: 1;
  font-size: 24px;
}

.hero .feedback-item__text {
  position: relative;
  color: #f8c891;
  z-index: 1;
  font-size: 20px;
}

.steps {
  padding: 75px 0;
  background: #b69167;
}

.steps__title {
  text-align: center;
  color: #f8c891;
  font-size: 40px;
  margin-bottom: 50px;
}

.steps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps-container__img {
  max-width: 550px;
  border-radius: 25px;
}

.steps-container-list__title {
  font-style: italic;
  color: #f19e32;
  font-size: 30px;
  margin-bottom: 20px;
}

.steps-container-list__item {
  list-style-type: none;
  position: relative;
  padding-left: 40px;
  font-size: 24px;
  margin-bottom: 15px;
  color: #e2caaa;
}

.steps-container-list__item:last-of-type {
  margin-bottom: 0;
}

.steps-container-list__item::before {
  content: '';
  position: absolute;
  background: url("../img/barrel-marker.png") no-repeat center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -4px;
  left: 0;
  width: 40px;
  height: 40px;
}

.form {
  padding: 50px 0;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__title {
  font-size: 40px;
  margin-bottom: 20px;
}

.form__subtitle {
  color: #68562f;
  font-size: 24px;
  margin-bottom: 30px;
}

.form-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border: 2px solid #886f53;
  background: #fcf4b2;
  border-radius: 25px;
  width: 60%;
}

.form-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form-form-group--half {
  max-width: 400px;
  width: 100%;
}

.form-form__select {
  border-radius: 5px;
  height: 30px;
  border: none;
  text-indent: 10px;
}

.form-form__input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  text-indent: 10px;
}

.form-form__input--half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-form__label {
  padding-bottom: 10px;
  font-size: 20px;
}

.form-form__button {
  text-align: center;
  padding: 8px 0;
  border-radius: 25px;
  width: 100%;
}

.action {
  padding: 35px 0;
}

.action .container {
  max-width: 1400px;
}

.action-top {
  height: 50px;
  background: #b69167;
}

.action__title {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.action-list__item {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 2px solid #886f53;
  border-radius: 5px;
}

.action-list__item:last-of-type {
  margin-bottom: 0;
}

.action-list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.action-list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-list__img {
  max-width: 500px;
  margin-bottom: 30px;
}

.action-list__desc {
  max-width: 800px;
}

.action-list__heading {
  font-size: 20px;
  margin-bottom: 20px;
}

.action-list__body {
  font-size: 20px;
  margin-bottom: 20px;
}

.action-list__body--list__item {
  position: relative;
  margin-left: 20px;
  font-size: 18px;
}

.action-list__title {
  margin-bottom: 20px;
  font-size: 22px;
}

.action-list__button {
  padding: 8px 20px;
}

.close-actions {
  background: #f8c891;
  padding-bottom: 35px;
}

.close-actions__title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.close-actions__subtitle {
  text-align: center;
  font-size: 24px;
  color: #f19e32;
  margin-bottom: 30px;
  color: #52320b;
}

.close-actions__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-actions__input {
  height: 39px;
  width: 250px;
  border-radius: 50px 0px 0px 50px;
  border: none;
  text-indent: 20px;
  font-size: 18px;
}

.close-actions__button {
  padding: 9px 12px;
  border-radius: 50px;
  border: none;
  margin-left: -20px;
}

.footer {
  padding: 30px;
  background: #886f53;
}

.footer-tel {
  font-size: 24px;
  color: #ffddb3;
}

.search {
  padding: 271.5px 0;
}

.house {
  padding: 100px 0;
}

.house__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.house-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.house-block__list {
  list-style-type: none;
  font-size: 24px;
}

.house-block__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
}

.house-block__item::before {
  content: '';
  position: absolute;
  background: url("../img/barrel-marker.png") no-repeat center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -4px;
  left: -5px;
  width: 40px;
  height: 40px;
}

.house-block__item:last-of-type {
  margin-bottom: 0;
}

.house-block__title {
  padding: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

.house-plan__img {
  border-radius: 25px;
  max-width: 800px;
}

.examples {
  padding: 100px 0;
  background: #b69167;
}

.examples__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
  color: #f8c891;
}

.examples-list__item {
  margin-bottom: 40px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.examples-list__item:last-of-type {
  border: none;
  padding-bottom: 0;
}

.examples-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.examples-desc__title {
  color: #f8c891;
  font-size: 30px;
  margin-bottom: 10px;
  list-style: none;
}

.examples-desc__img {
  max-width: 600px;
  border-radius: 25px;
}

.examples-desc__list {
  max-width: 850px;
}

.examples-desc__list__item {
  position: relative;
  list-style-type: none;
  padding-left: 30px;
  margin-bottom: 20px;
  font-size: 24px;
}

.examples-desc__list__item::before {
  content: '';
  position: absolute;
  background: url("../img/barrel-marker.png") no-repeat center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -4px;
  left: -5px;
  width: 40px;
  height: 40px;
}

.examples-list__button {
  border-radius: 25px;
  padding: 8px 20px;
  margin-top: 20px;
  font-size: 24px;
}

.booking {
  padding-bottom: 100px;
}

.booking-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.booking-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border: 2px solid #886f53;
  background: #fcf4b2;
  border-radius: 25px;
  width: 90%;
}

.booking-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.booking-form-group--half {
  max-width: 630px;
  width: 100%;
}

.booking-form--half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-form__label {
  margin-bottom: 5px;
  font-size: 20px;
}

.booking-form__input {
  height: 35px;
  text-indent: 10px;
  font-size: 20px;
}

.booking .cost-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking .cost__label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #52320b;
  margin-top: 10px;
}

.booking-people {
  padding: 50px 0;
  padding-bottom: 20px;
}

.booking-people-container {
  padding-top: 20px;
  border-bottom: 3px solid #886f53;
}

.booking-people__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.booking-people__button {
  padding: 8px 24px;
  border-radius: 25px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.booking-people__button:last-of-type {
  margin-right: 0;
}

.booking-people-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border: 2px solid #886f53;
  background: #fcf4b2;
  border-radius: 25px;
  width: 90%;
}

.booking-people-form--half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-people-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.booking-people-group--half {
  max-width: 630px;
  width: 100%;
}

.booking-people__label {
  margin-bottom: 5px;
  font-size: 20px;
}

.booking-people__input {
  height: 35px;
  text-indent: 10px;
  font-size: 20px;
}

.extra {
  padding-bottom: 40px;
}

.extra-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.extra__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.extra-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border: 2px solid #886f53;
  background: #fcf4b2;
  border-radius: 25px;
  width: 28%;
}

.extra-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extra-form__input {
  width: 23px;
  height: 23px;
  margin-right: 10px;
}

.extra-form__label {
  margin-bottom: 5px;
  font-size: 25px;
}
/*# sourceMappingURL=style.css.map */